:root {
  --background: #1e1e2e;
  --text: #cdd6f4;
  --accent: #cba6f7;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #eff1f5;
    --text: #4c4f69;
    --accent: #8839ef;
  }
}

html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--background);
  color: var(--text);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

li {
  margin: 0.1rem 0;
}

a {
  text-decoration: none;
  color: var(--text);
  transition: 0.2s all ease-in-out;
  font-size: large;
}

a:hover {
  text-decoration: underline;
  color: var(--accent);
}
